DATABASE_URL=postgresql://postgres:postgres@db:5432/tasksdb
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=tasksdb
PORT=3000
SUPABASE_URL=https://cyzzuuuballshkuszcur.supabase.co
SUPABASE_KEY=sb_publishable_iwuFGO1QIAE7Lu5XlyMCNQ_VpDLGHmU